[facebook]
app_id=
scopes=user_likes,user_location,user_work_history,user_birthday,email,user_friends,user_religion_politics
app_secret=
redirect_uri=http://localhost:8080/facebook/login

[server]
port=8080
csrf=

